<section ng-controller="SigninController">
	<md-toolbar class="md-primary">
		<div class="md-toolbar-tools">
			<md-button aria-label="Go Home" href="/#!/">
				Go Home
			</md-button>
			<h2>
				<span>Log In</span>
			</h2>
		</div>
	</md-toolbar>
	<form ng-submit="signin()" novalidate>
		<md-content layout-padding>
			<div layout="column" layout-align="center center" layout-padding>
				<md-input-container class="md-icon-float md-block">
					<label for="username" ng-click="username_alert(username)">Username</label>
					<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
					<input type="text" ng-model="username" id="username" placeholder="Enter username" required>
				</md-input-container>
				<md-input-container class="md-icon-float md-block">
					<label for="password">Password</label>
					<md-icon md-svg-src="img/icons/ic_person_24px.svg" class="name"></md-icon>
					<input type="password" ng-model="password" id="password" placeholder="Enter password" required>
				</md-input-container>
				<md-button type="submit" class="md-raised md-primary">
					Log In
				</md-button>
			</div>
		</md-content>
	</form>
</section>